.branch__div {
  background: #6a00f409;
  padding: 40px;
  box-shadow: inset 3px 4px 34px rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(66px);
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.branch__div > img {
  width: 100%;
  height: 100%;
}
.branch__div__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.branch__content > div {
  width: initial;
  background: inherit;
  border: none;
  padding: 0;
  padding-top: 40px;
}

.branch__content img {
  width: 32px;
  height: 32px;
}
.branch__div h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.54em;
  text-transform: uppercase;
  color: #6a00f4;
}
.branch__div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 61px;
  color: #000000;
}
.branch__div p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}
