* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}
.slider-box {
  height: 400px;
}
.slider-item h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.54em;
  text-transform: uppercase;
  color: #fff;
}
.slider-item h2 {
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.slider-item button {
  padding: 14px 32px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  cursor: pointer;
}
.number-slide1,
.number-slide2,
.number-slide3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-align: center;
  color: #000;
  gap: 20px;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 0.6;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.dot:focus {
  outline: none;
}
.dot.active {
  background: #fff;
}
.dot.active::after {
  background: #6a00f4;
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: #fff;
}

.arrow--right {
  left: auto;
  right: 5px;
  fill: #fff;
}
.arrow--left,
.arrow--right {
  box-shadow: inset 3px 4px 34px rgba(255, 255, 255, 0.17);
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(66px);
  border-radius: 41px;
  padding: 15px;
  width: 53px;
  height: 53px;
}
.arrow--disabled {
  /* fill: rgba(255, 255, 255, 0.5); */
}
