.about__link {
  border: 2px solid #000000;
  border-radius: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  height: 56px;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: #000000;
}
