.Labsroom {
  display: flex;
  padding: 40px;
  gap: 40px;

  box-shadow: inset 3px 4px 34px rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(66px);
  border-radius: 32px;
}
.Labsroom__imgs {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 24px;
}
.div1 {
  grid-area: 1 / 1 / 3 / 3;
  width: 100%;
  height: 100%;
}
.div2 {
  grid-area: 3 / 1 / 5 / 2;
  width: 100%;
  height: 100%;
}
.div3 {
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
  height: 100%;
}
.div4 {
  grid-area: 4 / 2 / 5 / 3;
  width: 100%;
  height: 100%;
}
.Labsroom__info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Labsroom__info > h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.54em;
  text-transform: uppercase;
}
.Labsroom__info > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #000000;
}
.Labsroom__info > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  opacity: 0.6;
}
.Labsroom__info > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.Labsroom__info_title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 50%;
}
.Labsroom__info_title > p {
  display: grid;
  position: relative;
  place-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
}
.Labsroom__info_title > p > img {
  position: absolute;
  opacity: 0.15;
}
.Labsroom__info > a {
  padding: 16px 32px;
  text-decoration: none;
  color: #fff;

  border-radius: 48px;
  font-weight: 700;
  align-self: baseline;
}
